.layout{
    max-height: 100vh;
    height: 100vh;
    background: #E6F3FF;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 0 1 78%;
    word-wrap: break-word;
    
    padding: 32px;
    padding-right: 64px;

    @media (max-width: 1300px) {
        padding: 24px;
    }
    @media (max-width: 1100px) {
        max-height: initial;
    }
    @media screen and (max-width: 750px) {
        padding: 0px;
    }
}